<mat-card class="sidebar-2 h-100 bg-light-dark">
  <mat-card-content class="h-100 tree-aside py-1">
    <mat-tree
      class="company-tree mb-0 mt-1 brand-tree active"
      [dataSource]="dataSource"
      [treeControl]="treeControl"
    >
      <mat-tree-node
        *matTreeNodeDef="let node"
        matTreeNodeToggle
        (mouseenter)="hoverOnComp('in', node.id)"
        (mouseleave)="hoverOnComp('out', node.id)"
      >
        <span>{{ node.name }}</span>
        <div>
          <span>
            <mat-icon *ngIf="node.id" fontIcon="add" (click)="openDialog()" />
          </span>
        </div>
      </mat-tree-node>
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div
          class="mat-tree-node"
          (mouseenter)="hover('in', node.id)"
          (mouseleave)="hover('out', node.id)"
        >
          <button
            mat-icon-button
            matTreeNodeToggle
            type="button"
            class="tree-control"
            [attr.aria-label]="'Toggle ' + node.name"
          >
            <!-- @if (treeControl.isExpanded(node)) {
              <fa-icon [icon]="faCaretDown" />
            } @else {
              <fa-icon [icon]="faCaretRight" />
            } -->
            <mat-icon class="mat-icon-rtl-mirror">
              {{
                treeControl.isExpanded(node) ? "expand_more" : "chevron_right"
              }}
            </mat-icon>
          </button>
          <span>{{ node.name }}</span>
          <div>
            <span>
              <mat-icon
                fontIcon="add"
                disabled
                [id]="node.id"
                (click)="openDialog()"
              />
            </span>
          </div>
        </div>
        <div
          role="group"
          [class.company-tree-invisible]="!treeControl.isExpanded(node)"
        >
          <ng-container matTreeNodeOutlet />
        </div>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-card-content>
</mat-card>
