<div class="row mt-3 mx-1 mb-2">
  <div class="col-md-8">
    <div class="dropdown-search">
      <form action="" class="clear-s-form">
        <div class="input-group normal-search-top">
          <input
            type="search"
            class="form-control jAuto x-mark-add"
            placeholder="Search"
          />
          <a class="btn-btn-link xmark-add-i" type="button">
            <fa-icon [icon]="faXmark" />
          </a>
          <button class="btn btn-icon" type="button" id="button-addon2">
            <fa-icon [icon]="faMagnifyingGlass" />
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-4">
    <div class="d-flex align-items-end justify-content-end mt-2 mt-md-0">
      <app-add-new-drp />
      <app-context-drp />
    </div>
  </div>
</div>
<div class="p-0 mx-2">
  <div class="tbl-fixed-scroll">
    <div class="tbl-hor">
      <table
        id="users-table"
        class="table table-over fixed-tbl-head first-td-fixed sec-td-fixed last-td-fixed w-100 no-wrap-td"
      >
        <thead>
          <tr>
            <th>
              <label class="check">
                <input
                  type="checkbox"
                  id="select-all-check"
                  name="is_name"
                  [checked]="selection.hasValue() && isAllSelected()"
                  [indeterminate]="selection.hasValue() && !isAllSelected()"
                  (change)="$event ? masterToggle() : null"
                />
                <span class="checkmark"></span>
              </label>
            </th>
            <th class="sort-th astro-sort">Name</th>
            <th class="sort-th astro-sort">User Name</th>
            <th class="sort-th astro-sort">Role</th>
            <th class="sort-th astro-sort">Belongs To</th>
            <th class="sort-th astro-sort">Business Unit Access</th>
            <th class="sort-th astro-sort">Status</th>
            <th></th>
          </tr>
        </thead>
        <tbody id="table-srt2">
          @for (user of usersData; track $index) {
            <tr>
              <td>
                <label class="check form-check">
                  <input
                    type="checkbox"
                    class="all-check form-check-input"
                    name="is_name"
                    [checked]="selection.isSelected(user)"
                    (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(user) : null"
                  />
                  <span class="checkmark"></span>
                </label>
              </td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.role }}</td>
              <td>{{ user.company }}</td>
              <td>{{ user.buAccess }}</td>
              <td>
                <span class="text-success">{{ user.status }}</span>
              </td>
              <td class="fa-action">
                <ul class="fa-action-more list-inline m-0 p-0">
                  <li>
                    <a type="button" href="javascript:void(0);">
                      <ng-template #popContent$index>
                        <div class="pop-w-400">
                          <div class="popover-section-scroll">
                            <table class="table-popover">
                              <tbody>
                                <tr>
                                  <td class="wf-175"><b>Mobile Number:</b></td>
                                  <td>{{ user.mobileNr }}</td>
                                </tr>
                                <tr>
                                  <td><b>Factor Authentication:</b></td>
                                  <td>
                                    {{
                                      user.factorAuth ? "Enabled" : "Disabled"
                                    }}
                                  </td>
                                </tr>
                                <tr>
                                  <td><b>Receive Message via Email:</b></td>
                                  <td>
                                    {{ user.emailMessage ? "Yes" : "No" }}
                                  </td>
                                </tr>
                                <tr>
                                  <td><b>Receive Message via SMS:</b></td>
                                  <td>{{ user.smsMessage ? "Yes" : "No" }}</td>
                                </tr>
                              </tbody>
                            </table>
                            <hr class="my-2" />
                            <p class="mb-1 small">
                              <b>Created By:</b>
                              {{ user.createdBy }}
                              <span class="">{{ user.createdDate }}</span>
                            </p>
                            <p class="mb-0 small">
                              <b>Updated By</b>
                              {{ user.updateBy }}
                              <span class="">{{ user.updatedDate }}</span>
                            </p>
                          </div>
                        </div>
                      </ng-template>
                      <fa-icon
                        placement="start"
                        container="body"
                        [ngbPopover]="popContent$index"
                        [icon]="faInfo"
                      />
                    </a>
                  </li>
                  <li>
                    <span
                      class="dropdown d-inline-block"
                      ngbDropdown
                      container="body"
                    >
                      <a
                        href="javascript:void(0);"
                        ngbDropdownToggle
                        [id]="'cpy-user' + $index + '-more'"
                      >
                        <fa-icon [icon]="faEllipsisVertical" />
                      </a>
                      <ul
                        class="dropdown-menu dropdown-menu-end shadow-sm"
                        ngbDropdownMenu
                        [attr.aria-labelledby]="'cpy-user' + $index + '-more'"
                      >
                        <li>
                          <button
                            ngbDropdownItem
                            type="button"
                            class="dropdown-item"
                          >
                            Edit
                          </button>
                        </li>
                        <li>
                          <button
                            ngbDropdownItem
                            type="button"
                            class="dropdown-item"
                          >
                            Disable
                          </button>
                        </li>
                        <li>
                          <button
                            ngbDropdownItem
                            type="button"
                            class="dropdown-item"
                          >
                            Resend Activation Link
                          </button>
                        </li>
                        <li>
                          <button
                            ngbDropdownItem
                            type="button"
                            class="dropdown-item"
                          >
                            Reset Password
                          </button>
                        </li>
                        <div class="dropdown-divider"></div>
                        <li>
                          <button
                            ngbDropdownItem
                            type="button"
                            class="dropdown-item text-danger"
                          >
                            Delete
                          </button>
                        </li>
                      </ul>
                    </span>
                  </li>
                </ul>
              </td>
            </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
