@import "https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap";

$white: #fff !default;
$gray-100: #f8f8f8 !default;
$gray-200: #eaecf4 !default;
$gray-300: #ddd !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #808080 !default;
$gray-700: #6e707e !default;
$gray-800: #5a5c69 !default;
$gray-900: #444 !default;
$black: #333 !default;
$blue: #0b57d0 !default;
$indigo: #0077b8 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #ea2e49 !default;
$orange: #ff8000 !default;
$yellow: #fc6 !default;
$green: #128d1e !default;
$teal: #20c9a6 !default;
$cyan: #76abe8 !default;
$error: #ab0600 !default;
$critical: #772809 !default;
$high: #d53939 !default;
$medium: #ee7d4f !default;
$low: #fbb862 !default;
$na: #eee !default;
$yet-2-start: #cacaca !default;
$table-active: #f1f5fc !default;
$table-hover: #f9f9ff !default;
$tab-bg: #e9ecf0;

// scss-docs-start theme-color-variables
$primary: $blue !default;
$secondary: $gray-600 !default;
$success: $green !default;
$info: $cyan !default;
$warning: $orange !default;
$danger: $red !default;
$light: $white !default;
$dark: $black !default;

// scss-docs-end theme-color-variables
$body-bg: $white !default;
$body-color: $black !default;
$body-text-align: null !default;
$base-font: 0.8rem !default;
$dark-body-bg: #001d31 !default;
$table-head: #bfdbeb !default;
// Custom Colors
$brand-google: #ea4335 !default;
$brand-facebook: #3b5998 !default;

// Style anchor elements.

$link-color: $primary !default;
$link-decoration: underline !default;
$link-shade-percentage: 20% !default;
$link-hover-color: shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration: null !default;
$stretched-link-pseudo-element: after !default;
$stretched-link-z-index: 1 !default;

// scss-docs-start border-variables
$border-width: 1px !default;
$border-style: solid !default;
$border-color: $gray-300 !default;
$border-color-translucent: rgba($black, 0.175) !default;
// scss-docs-end border-variables
// Set Contrast Threshold
$yiq-contrasted-threshold: 195 !default;

// scss-docs-start spacer-variables-maps
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3
) !default;
// Typography
$body-color: $gray-600 !default;
$font-family-sans-serif: "Inter", sans-serif !default;
// $base-font: 1rem;
$font-size-base: 0.8rem !default; // Assumes the browser default, typically `16px`
$font-size-sm: $font-size-base * 0.75 !default;
$font-size-lg: $font-size-base * 1.25 !default;
// $font-weight-base: 400;
$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-l-bold: 500 !default;
$font-weight-semibold: 600 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.25 !default;
$line-height-sm: 1 !default;
$line-height-lg: 1.75 !default;
$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;
$lead-font-size: $font-size-base * 1.25 !default;
$lead-font-weight: 300 !default;
$small-font-size: 0.8em !default;
$sub-sup-font-size: 0.7em !default;

// Shadows
// scss-docs-start box-shadow-variables
$box-shadow: 0 0.1rem 1rem 0 rgba($black, 0.25) !default;
$box-shadow-sm: 0 0.03rem 0.7rem 0 rgba($black, 0.2) !default;
$box-shadow-lg: 0 0.2rem 1.5rem 0 rgba($black, 0.25) !default;
$box-shadow-inset: inset 0 1px 2px rgba($black, 0.075) !default;
// scss-docs-end box-shadow-variables

$popover-body-padding-x: $spacer - 0.5rem !default;
$popover-body-padding-y: $spacer - 0.5rem !default;
$popover-header-padding-x: $spacer - 0.5rem !default;

// Borders Radius
$border-radius: 0.35rem !default;
$border-color: darken($gray-200, 1%) !default;

// scss-docs-end box-shadow-variables

$component-active-color: $white !default;
$component-active-bg: $primary !default;

// Spacing Variables
// Change below variable if the height of the navbar changes
$topbar-base-height: 3rem !default;
// Change below variable to change the width of the sidenav
$sidebar-base-width: 16.25rem !default;
// Change below variable to change the width of the sidenav when collapsed
$sidebar-collapsed-width: 5rem !default;

// Card
$card-cap-bg: $gray-100 !default;
$card-border-color: $border-color !default;

// Adjust column spacing for symmetry
$spacer: 1rem !default;
$grid-gutter-width: $spacer !default;

// Transitions
$transition-collapse: height 0.15s ease !default;

// Dropdowns
$dropdown-font-size: 0.85rem !default;
$dropdown-border-color: $border-color !default;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio: 4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark: $black !default;
$color-contrast-light: $white !default;

// scss-docs-start input-btn-variables
$input-btn-padding-y: 0.5rem !default;
$variable-prefix: bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix: $variable-prefix !default;
$table-hover-bg-factor: 1 !default;
$table-hover-bg: rgba($gray-100, $table-hover-bg-factor) !default;
$input-placeholder-color: rgba($gray-600, 0.6) !default;

// $table-color:                 var(--#{$prefix}body-color) !default;
// Images
$login-image: "https://source.unsplash.com/K4mSJ7kc0As/600x800" !default;
$register-image: "https://source.unsplash.com/Mv9hjnEUHR4/600x800" !default;
$password-image: "https://source.unsplash.com/oWTW-jNGl9I/600x800" !default;

// Variable for Dark theme
body.light-theme {
  --bs-light: #fff;
  --bs-light-rgb: 255, 255, 255 !important;
  --tabl-bg-light: #f8f8f8 !important;
  --tm-body-bg: var(--bs-light);
  --tm-primary: var(--bs-light);
  --tm-overflow: var(--bs-gray-400);
  --tm-color: var(--bs-black);
  --tm-table-hover: var(--bs-gray-100);
  --tm-primary-bw: var(--bs-primary);
  --tm-primary-bb: var(--bs-primary);
  --bs-body-color-rgb: var(--bs-light);
  --table-th-bg: var(--bs-light);
  --btn-hover-primary: #0b7ab8 !important;
  --bs-outline-primary: #f2f7ff !important;

  .bg-light-dark {
    background-color: $gray-100;
    border: 1px solid rgba($gray-600, 0.07);
  }
}

// Variable for Dark theme
body.dark-theme {
  --link-color: #046da8;
  --bs-link-color: var(--link-color);

  $body-bg-dark: $dark-body-bg !default;
  $link-color: $blue-100 !default;

  --black2-bg: #383838 !important;
  --btn-hover-primary: #232323 !important;
  --tm-color: var(--bs-light);
  --tm-primary: var(--bs-gray-900);
  --tm-body-bg: var(--bs-black);
  --bs-border-color: var(--bs-gray-900);
  --tm-overflow: var(--bs-black);
  --tm-primary-bb: var(--bs-black);
  --tm-primary-bw: var(--bs-light);
  --tm-table-hover: var(--btn-hover-primary);
  --bs-body-color-rgb: var(--bs-light);
  --table-th-bg: var(--black2-bg);

  .code-circle {
    color: var(--link-color);
  }

  /* The check */

  /* The check */
  .check {
    input:checked ~ .checkmark {
      background-color: transparent;
    }

    .checkmark {
      background-color: transparent;
      border-color: var(--bs-primary);
    }
  }

  /* Create a custom checkbox */
  .checkmark {
    background-color: transparent;
  }

  .modal {
    --bs-modal-header-border-color: var(--btn-hover-primary);
  }

  .bg-light-dark {
    background-color: rgba($black, 0.15);
  }

  .sidebar .footer-sidebar .nav-item .nav-link {
    &:hover,
    &:active,
    &.active {
      background-color: var(--bs-black) !important;
    }
  }

  .bg-light,
  .card {
    background-color: var(--bs-light) !important;
    border-color: var(--btn-hover-primary);

    .card-header {
      background-color: var(--btn-hover-primary) !important;
      color: var(--tm-color);
      border-bottom-color: var(--btn-hover-primary) !important;
    }
  }

  .sidebar .nav-item .collapse .collapse-inner .collapse-item,
  .sidebar .nav-item .collapsing .collapse-inner .collapse-item {
    color: var(--tm-color);
    background-color: transparent;

    &.active,
    &:hover,
    &:active {
      background-color: $tab-bg;
    }
  }

  .bg-primary {
    background-color: va(--tm-primary);
  }

  .btn-light {
    --bs-btn-color: var(--bs-light);
    --bs-btn-bg: var(--tm-primary);

    &:hover,
    &:active,
    &:active:focus,
    &:focus,
    &.show,
    &.active {
      box-shadow: none !important;
      color: var(--bs-light);
      background-color: var(--btn-hover-primary);
    }
  }

  .datetimepicker table tr {
    td,
    th {
      color: var(--bs-light);
    }

    .dow,
    .day,
    .switch,
    .next,
    .prev,
    span.hour,
    span.minute {
      &:hover {
        background-color: $black;
      }
    }

    .day.old {
      color: rgba($white, 0.3);

      &:hover {
        background-color: $black;
      }
    }
  }

  [class*="datetimepicker-dropdown"]::after {
    border-bottom: 6px solid var(--tm-primary);
  }

  .dropdown-menu {
    --#{$prefix}dropdown-bg: var(--tm-primary);
    --#{$prefix}dropdown-border-color: var(--tm-primary);
    --#{$prefix}dropdown-divider-bg: var(--btn-hover-primary);
    --#{$prefix}dropdown-link-color: var(--tm-color);
    --#{$prefix}dropdown-link-hover-color: var(--tm-color);
    --#{$prefix}dropdown-link-hover-bg: var(--btn-hover-primary);
    --#{$prefix}dropdown-link-active-color: var(--tm-color);
    --#{$prefix}dropdown-link-active-bg: var(--btn-hover-primary);
    --#{$prefix}dropdown-color: var(--tm-color);
    // --#{$prefix}dropdown-link-disabled-color: #{$dropdown-link-disabled-color};
    --#{$prefix}dropdown-header-color: var(--tm-color);

    .dropdown-header {
      background-color: var(--btn-hover-primary);
      border-color: var(--btn-hover-primary);
    }
  }

  .table {
    --#{$prefix}table-color: var(--tm-color);
    --#{$prefix}table-border-color: var(--btn-hover-primary);
    --#{$prefix}table-striped-color: var(--btn-hover-primary);
    --#{$prefix}table-striped-bg: var(--btn-hover-primary);
    --#{$prefix}table-active-color: var(--tm-color);
    --#{$prefix}table-active-bg: var(--btn-hover-primary);
    --#{$prefix}table-hover-color: var(--tm-color);
    --#{$prefix}table-hover-bg: var(--btn-hover-primary);
  }

  .pagination {
    --bs-pagination-color: var(--bs-link-color);
    --bs-pagination-bg: var(--tm-primary);
    --bs-pagination-border-color: var(--btn-hover-primary);
    --bs-pagination-hover-color: var(--bs-link-hover-color);
    --bs-pagination-hover-bg: var(--btn-hover-primary);
    --bs-pagination-hover-border-color: var(--btn-hover-primary);
    --bs-pagination-focus-color: var(--bs-link-hover-color);
    --bs-pagination-focus-bg: var(--tm-primary);
    --bs-pagination-focus-box-shadow: 0 0 0 0.25rem rgb(0 102 161 / 25%);
    --bs-pagination-disabled-bg: var(--bs-border-color);
    --bs-pagination-disabled-border-color: var(--btn-hover-primary);
  }
}
