// @use "./theme.scss";
$fa-font-path: "@fortawesome/fontawesome-free/webfonts";

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/regular";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "@fortawesome/fontawesome-free/scss/brands";
@import "./theme2";

/* You can add global styles to this file, and also import other style files */

html,
body {
  margin: 0;
  height: 100%;
  font-family: Inter, sans-serif;
}

/* Importing Bootstrap SCSS file. */
